

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    text-align: center;
    border: 5px solid springgreen;
    border-radius: 45px;
    background-color: springgreen;
};